.ttl{
      font-family: 'Press Start 2P', cursive;
      font-size: 60px;
      color: #000;
      position:absolute;
      top: 70px;
      text-align: center;
      background-image: -webkit-linear-gradient(#FD1701, #FDF704,#FD1701);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
.centerbody{
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
}
.centerbody1{
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  bottom: 50%;
}
.ex
{
  background-color:#000;
  height: 50px;
  padding:7px;
  border:solid 1px #c3c3c3;
  margin-top: 20px;
  font-size: 30px;
}
button{
   font-family: 'VT323', monospace;
   font-size: 60px;
   border-radius: 20px;
   cursor: pointer;
}
.content{
    font-size: 30px;
    color: #000;
    position:absolute;
    padding: 10px;
    text-align: center;
}
.Q1{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: #000;
    position:absolute;
    top: 70px;
    padding: 10px;
    text-align: center;
}
.option {
    padding: 10px;
    display: block;
    font-size: 30px;
    text-align: center;
}
.nextone{
  position: absolute;
  left: 100%;
  right: 0%;
  top:150px;
}
}
/*.shadow{
        text-align:center;
        font-family: 'Press Start 2P', cursive;
        font-size: 60px;
        color: #000;
          position:absolute; left:20%;
        text-shadow: 
        -1px 1px 0 #000,
        -1.5px 1.5px 0 #000,
        -2px 2px 0 #000,
        -2.5px 2.5px 0 #000,
        -3px 3px 0 #000,
        -3.5px 3.5px 0 #000,
        -4px 4px 0 #000,
        -4.5px 4.5px 0 #000,
        -5px 5px 0 #000,
        -5.5px 5.5px 0 #000,
        -6px 6px 0 #000,
        -6.5px 6.5px 0 #000;
}*/
/*p{
  font-family: 'VT323', monospace;
  font-size: 50px;
}*/

/*.hd
{
  position:absolute;
}
.hd1
{
  background-color:#949ADD ;
  font-family: 'VT323', monospace;
  font-size: 40px;
  line-height: 24px;
  width: 500px;
  padding:7px;
  border:solid 1px #c3c3c3;
  margin-top: 24px;
  
}*/

 /*@media screen{
        div{
            width:880px;
            height:560px;
            margin:auto;
        }
        header{
            width: 880px;
            height: 260px;
            background-image: url(images/header.jpg);
        }
        nav{
            width: 880px;
            height: 55px;
            background-image: url(images/nav.gif);
        }
        nav img{
            margin: 5px 25px 0px;
        }
        aside{
            width:635px;
            height: 265px;
            background-image: url(images/aside.jpg);
            float: left;
        }
        aside img{
            display:none;
        }
        span{
            display: none;
        }
        article{
            width:245px;
            height:265px;
            background-image: url(images/article.gif);
            float: left;
            font-size:13px;
        }
        article h1{
            font-size:20px;
            color:brown;
            text-align: center;
            font-family:微軟正黑體;
            text-align: center;
            margin-top:40px;
        }
        article h2{
            font-size:14px;
            font-weight: normal;
            text-align: center;
            margin-top: 30px;
        }
        footer{
            width:880px;
            height:20px;
            background-image: url(images/footer.gif);
            clear:both;
            font-size:13px;
            text-align: center;
        }
    }
        適用螢幕寬度小於480px的裝置（當螢幕小於480px時）
    @media screen and (max-width:480px){
        div{
            width:100%;
            height:auto;
            margin:auto;
        }
        header{
            width: 880px;
            height: 260px;
            background-image: url(images/header.jpg);
            display:none;
        }
        nav{
            width: 880px;
            height: 55px;
            background-image: url(images/nav.gif);
            display:none;
        }
        nav img{
            margin: 5px 25px 0px;
        }
        aside{
            width:100%;
            height: auto;
            background-image: none;
            float: none;
        }
        aside img{
            display:block;
            margin: auto;
        }
        span{
            width:80%;
            margin: auto;
            height:auto;
            text-align: center;
            display: block;
            padding-top: 30px;
        }
        article{
            width:80%;
            height:auto;
            background-image: none;
            float: none;
            font-size:13px;
            margin: auto;
        }
        article h1{
            font-size:20px;
            color:brown;
            text-align: center;
            font-family:微軟正黑體;
            text-align: center;
            margin-top:40px;
        }
        article h2{
            font-size:14px;
            font-weight: normal;
            text-align: center;
            margin-top: 30px;
        }
        footer{
            width:100%;
            height:auto;
            background-image: none;
            clear:both;
            font-size:13px;
            text-align: center;
            display: none;
        }
    }*/
/*.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}*/
